source  /var/www/magento/magento2-downgrade-ee-ce/scripts/attributes.sql
source  /var/www/magento/magento2-downgrade-ee-ce/scripts/ee.sql
source  /var/www/magento/magento2-downgrade-ee-ce/scripts/cms.sql
source  /var/www/magento/magento2-downgrade-ee-ce/scripts/catalogrule.sql
source  /var/www/magento/magento2-downgrade-ee-ce/scripts/salesrule.sql
source  /var/www/magento/magento2-downgrade-ee-ce/scripts/category.sql
source  /var/www/magento/magento2-downgrade-ee-ce/scripts/product.sql
source  /var/www/magento/magento2-downgrade-ee-ce/scripts/client.sql
